<form class="add-telephone-number-form" method="POST" data-url="{% url 'application:add_telephone_number' %}">
    {% csrf_token %}

    <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Telephone Number</h4>
    </div>
    <div class="modal-body">
        <p>Please enter your telephone number&hellip;</p>
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-ban"></i> Error!</h4>
            {{ form.telephone_number.errors|striptags }}
        </div>
        {% endif %}
        <div class="box-body"> 
            <div class="input-group"> 
                <span class="input-group-addon"><i class="fa fa-fw fa-mobile-phone"></i></span>
                {{ form.telephone_number }}
              </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>        
        <button type="submit" class="btn btn-primary">Save changes</button>
        <!-- <input type="submit"  class="btn btn-primary" value="Add/Save"> -->
    </div>
</form>