{% extends 'registration/registration_base.html' %}
{% load staticfiles %}
{% block title %}
LITS Password Update Page
{% endblock title%}
 

{% block body_block %}

<div class="register-box">
    <div class="register-logo">
        <a href="{% url 'index' %}"><b>LITS</b>System</a>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
        <h4><i class="icon fa fa-ban"></i> Form Validation Error!</h4>  
        {{ form.old_password.errors|striptags }}
        {{ form.new_password1.errors|striptags }}
        {{ form.new_password2.errors|striptags }}
    </div>
    {% endif %} 

    <div class="register-box-body">  
        <div class="social-auth-links text-center">
            <h4><b>Update Password</b></h4>
        </div>

        <p class="login-box-msg">Update your password and stay secure!</p> 
        <form method="POST">
            {% csrf_token %} 
            <div class="form-group has-feedback">
                {{form.old_password}}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{form.new_password1}}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                {{form.new_password2}}
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" required> I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Update</button>
                </div>
                <!-- /.col -->
            </div>
        </form> 
 

    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->

<script>
    document.getElementById('id_old_password').classList.add('form-control');  
    document.getElementById('id_new_password1').classList.add('form-control');  
    document.getElementById('id_new_password2').classList.add('form-control'); 
    document.getElementById('id_old_password').placeholder = "Old Password";
    document.getElementById('id_new_password1').placeholder = "New Password";
    document.getElementById('id_new_password2').placeholder = "Confirm New Password";

</script>

{% endblock body_block %}