{% extends 'registration/registration_base.html' %}
{% load staticfiles %}
{% block title %}
LITS Password Update Complete Page
{% endblock title%}
 
{% block body_block %}

<div class="register-box">
    <div class="register-logo">
        <a href="{% url 'index' %}"><b>LITS</b>System</a>
    </div>

    <div class="register-box-body">
        <div class="social-auth-links text-center">
            <h4><b>Password successfully updated!</b></h4>
        </div> 

        <p class="login-box-msg">Your password has successfully updated!</p> 

        <div class="social-auth-links text-center">
            <a href="{% url 'login' %}">Return to Login Page</a><br>
        </div>


    </div>
    <!-- /.form-box -->
</div>


{% endblock body_block %}