{% extends 'registration/registration_base.html' %}
{% load staticfiles %}
{% block title %}
LITS Password Reset Done Page
{% endblock title%}

<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>

{% block body_block %}

<div class="register-box">
    <div class="register-logo">
        <a href="{% url 'index' %}"><b>LITS</b>System</a>
    </div>

    <div class="register-box-body">
        <div class="social-auth-links text-center">
            <h4><b>Reset password sent!</b></h4>
        </div> 

        <p class="login-box-msg">We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.</p>
        <p class="login-box-msg">If you don't receive an email, please make sure you've entered the address you registered with, and check
            your spam folder.</p>

        <div class="social-auth-links text-center">
            <a href="{% url 'login' %}">Return to Login Page</a><br>
        </div>


    </div>
    <!-- /.form-box -->
</div>


{% endblock body_block %}