{% extends 'registration/registration_base.html' %}
{% load staticfiles %}
{% block title %}
LITS Password Reset Confirm Page
{% endblock title%}

<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>

{% block body_block %}

<div class="register-box">
    <div class="register-logo">
        <a href="{% url 'index' %}"><b>LITS</b>System</a>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
        <h4><i class="icon fa fa-ban"></i> Form Validation Error!</h4>  
        {{ form.new_password1.errors|striptags }}
        {{ form.new_password2.errors|striptags }}
    </div>
    {% endif %} 

    <div class="register-box-body"> 
        {% if validlink %}
        <div class="social-auth-links text-center">
            <h4><b>Reset Password</b></h4>
        </div>

        <p class="login-box-msg">Enter your new password.</p>

        <form action="" method="post">
            {% csrf_token %} 
            <div class="form-group has-feedback">
                {{form.new_password1}}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                {{form.new_password2}}
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" required> I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        {% else %}
        <div class="social-auth-links text-center">
            <h4><b>Invalid Token</b></h4>
        </div>

        <div class="social-auth-links text-center"> 
            <a href="{% url 'password_reset' %}" class="text-center">Request a new password reset token</a>
        </div>
        {% endif %}
 

    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->

<script>
    document.getElementById('id_new_password1').classList.add('form-control');  
    document.getElementById('id_new_password2').classList.add('form-control');
    document.getElementById('id_new_password1').placeholder = "New Password"; 
    document.getElementById('id_new_password2').placeholder = "Confirm New Password";  
</script>

{% endblock body_block %}