{% extends 'registration/registration_base.html' %}
{% load staticfiles %}
{% block title %}
LITS Password Reset Page
{% endblock title%}

<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>

{% block body_block %}

<div class="register-box">
    <div class="register-logo">
        <a href="{% url 'index' %}"><b>LITS</b>System</a>
    </div>

    <div class="register-box-body">
        <div class="social-auth-links text-center">
            <h4><b>Forgot your password?</b></h4>
        </div>
 
        <p class="login-box-msg">Enter your email address and we will send you instructions on how to reset your
            password.</p>

        <form action="" method="post">
            {% csrf_token %}

            <div class="form-group has-feedback">
                {{form.email}}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" required> I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Send</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

    
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->

<script>    
    document.getElementById('id_email').classList.add('form-control');  
    document.getElementById('id_email').placeholder = "E-mail address";
</script>

{% endblock body_block %}