<form class="reply-concern-form" method="POST" data-url="{% url 'application:employee_reply_concerns_page' concern.id %}">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Reply concern form</h4>
    </div>
    <div class="modal-body">
        {% if form.errors %}
        <div class="callout callout-danger">
            <h4>Oops! Form Error!</h4>
            <p><strong>Please fix the error and try to save again!</strong></p>
            <p></p> 
            {{ form.reply.errors|striptags }}   
            {{ form.errors|striptags}}
        </div>
        {% endif %}
        <div class="form-group">
            <label>From:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-hand-o-left"></i></span>
                <input type="text" class="form-control" placeholder="None" disabled="" value="{{concern.sender}}">
            </div>
        </div>
        <div class="form-group">
            <label>To:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-hand-o-right"></i></span>
                <input type="text" class="form-control" placeholder="None" disabled="" value="{{concern.receiver}}">
            </div>
        </div>
        <div class="form-group">
            <label>Subject:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                <input type="text" class="form-control" placeholder="None" disabled="" value="{{concern.subject}}">
            </div>
          </div>
          <div class="form-group">
            <label>Message:</label>
            <textarea class="form-control" rows="5" placeholder="None"  disabled="" >{{concern.message}}</textarea>
          </div>
        <div class="form-group">
            <label for="{{form.reply.id_for_label}}">Reply:</label>
            {{ form.reply}}
        </div>  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button> 
        <button type="submit" class="btn btn-warning">Reply<i class="fa fa-fw fa-mail-reply"></i></button>
    </div> 

</form>